*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.heading{
    text-align: center;
    margin-top: 16px;
    font-weight: 800;
}

.Post-container{
   display: flex;
   gap: 18px;
   height: 70vh;
   width:100%;
   justify-content: center;
   align-items: center;

   padding: 20px;
  }

  .img{
    height: 350px;
    width: 100%;
    padding: 20px;
  }


  .pagination{
    display: flex;
    justify-content: space-around;
    padding: 40px ;
    height: 20vh;
    color: white;

  }

  .pageNo{
    padding: 20px 20px ;
    background-color: black;
    border-radius: 10px;
    border: 2px;
    
  }
  .pageNo:hover{
    cursor: pointer;
    transform: scale(0.9);
  }


  .btn-active{
    background-color: grey;
    border-radius: 10px;
    border: 2px;
    padding: 20px 20px ;
  }

  .btn-active:hover{
    cursor: pointer;
    transform: scale(0.9);
  }